---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout>
  <article class="prose prose-pink">
    <h1>{post.data.title}</h1>
    <p class="text-gray-300">Published: {post.data.date.toDateString()}</p>
    <Content />
  </article>
</BaseLayout>
