---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Section from "../../components/Section.astro";
import Tag from "../../components/Tag.astro";
import { formatDate } from "../../utils/date";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout>
  <Section titlePrefix={post.data.title}>
    <article class="prose max-w-6xl">
      <h1 class="font-heading-1">{post.data.title}</h1>
      <div class="flex flex-wrap gap-2 mb-4">
        {post.data.tags && post.data.tags.map((tag) => <Tag tag={tag} />)}
      </div>
      <div class="text-jet-light pb-8">
        Published: {formatDate(post.data.date)}
      </div>
      <Content />
    </article>
  </Section>
</BaseLayout>
