---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Section from "../components/Section.astro";
import ItemList from "../components/ItemList.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<BaseLayout>
  <Section>
    <h1 class="font-heading-1">Bits for Qubits</h1>

    <p class="mb-8 mt-8 text-jet">A blog about quantum computing and also other things interesting to me.</p>
    <ItemList items={posts} basePath="/posts" />
  </Section>
</BaseLayout>
