---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import LinkButton from "../components/LinkButton.astro";
import newsItems from "../content/news";

const nucs_url = "https://www.mccormick.northwestern.edu/computer-science/";
---

<BaseLayout titleSuffix="PhD student at CS, Northwestern">
  <Section>
    <div class="flex flex-col md:flex-row gap-0 md:gap-8 items-start md:items-start">
      <div class="flex-1">
        <h1 class="font-heading-1">Mu-Te Lau</h1>

        <p class="font-content">
          Hi, I'm Mu-Te Lau (劉慕德)! I build compilers and other system software
          for quantum computers.
        </p>

        <table class="w-full font-content text-left mt-8 mb-8">
          <thead>
            <tr class="align-top">
              <th class="pr-12 font-heading-3 text-left pt-4">
                I'm a...
              </th>
              <th class="font-heading-3 text-left pt-4">
                Latest Rabbit Hole I'm In
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="align-top">
              <td class="pr-12 pt-4 font-content">
                PhD student in <a class="link" href={nucs_url}> CS, Northwestern</a>
              </td>
              <td class="pt-4 font-content">
                Compilers for Quantum Hamiltonian Simulation 
              </td>
            </tr>
          </tbody>
        </table>

        <LinkButton href="/about/">About Me</LinkButton>
      </div>
      <div class="flex-shrink-0 mt-12 mx-auto md:mx-0 md:w-72 aspect-square md:aspect-auto max-h-120 md:max-h-none overflow-hidden rounded-lg shadow-lg">
        <img src="/images/myself1.jpg" alt="Mu-Te Lau" class="w-full h-full object-cover object-[center_40%] md:object-cover md:object-center" />
      </div>
    </div>
  </Section>

  <Section color="columbia-blue">
    <h2 class="font-heading-2">News</h2>
    <table class="w-full font-content text-left">
      <tbody>
        {
          newsItems.map((item) => (
            <tr class="align-top">
              <td class="pr-12 font-emph whitespace-nowrap pt-4">
                {item.dateFormatted}
              </td>
              <td class="pt-4" set:html={item.content} />
            </tr>
          ))
        }
      </tbody>
    </table>
  </Section>

  <Section>
    <h2 class="font-heading-2">Highlights</h2>
    <p class="font-content">
        Under construction...
    </p>
  </Section>
</BaseLayout>
