---
import BaseLayout from "../layouts/BaseLayout.astro";
import LinkButton from "../components/LinkButton.astro";
import Section from "../components/Section.astro";
const nucs_url = "https://www.mccormick.northwestern.edu/computer-science/";
---

<BaseLayout titleSuffix="PhD student at CS, Northwestern">
  <Section>
    <h1 class="font-heading-1">Bits for Qubits</h1>
    <p class="font-content">
      Hi, I'm Mu-Te Lau (劉慕德)! I build compilers and other system software
      for quantum computers.
    </p>
    <ul class="flex space-x-12 mt-8">
      <li>
        <p class="font-heading-3">I'm a...</p>
        <p class="font-content">
          PhD student in <a class="link" href={nucs_url}> CS, Northwestern</a>
        </p>
      </li>
      <li>
        <p class="font-heading-3">I also go by...</p>
        <p class="font-content">Josh/Joshua</p>
      </li>
    </ul>
    <LinkButton link="/about/" text="About Me" />
  </Section>

  <Section color="columbia-blue">
    <h2 class="font-heading-2">News</h2>
    <p class="font-content">iausdiaudjiausd</p>
  </Section>

  <Section>
    <h2 class="font-heading-2">Quantum Computing, Coding, and More...</h2>
    <p class="font-content">
      I talk about quantum and nerdy stuffs from time to time.
    </p>
  </Section>
</BaseLayout>
