---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<BaseLayout>
  <Section>
    <h1 class="font-heading-1">Music</h1>
    <p class="font-content">
      When I collapse, I fall back to the classical world. Here lies my musical
      journey...
    </p>

    <h2 class="font-heading-2">Arrangements</h2>
    <p class="font-content">
      I arrange for wind band and ensembles on the side.
    </p>
  </Section>
</BaseLayout>
