---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
import TableRow from "../components/TableRow.astro";
import { formatYearMonth } from "../utils/date";
import publications from "../content/publications";
---

<BaseLayout>
  <Section>
    <h1 class="font-heading-1">Publications</h1>

    <p class="mb-8 mt-8 text-jet">Certified nerdiness of mine. 
        Also check out my <a href="https://scholar.google.com/citations?user=J7BNBysAAAAJ&hl=en" class="link">Google Scholar</a>.
    </p>

    <table class="w-full border-separate spaced-table">
        <tbody>
        {
            publications.map((publication) => (
                <TableRow
                    href={publication.url}
                    leftLabel={publication.venue}
                    leftSubtitle={formatYearMonth(publication.date)}
                    rightTitle={publication.title}
                    rightSubtitle={publication.authors.join(", ")}
                />
            ))
        }
        </tbody>
    </table>
    </Section>
</BaseLayout>
