---
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import Section from "../components/Section.astro";
import ItemList from "../components/ItemList.astro";

const publications = (await getCollection("publications")).sort(
  (a, b) => (b.data.date?.getTime() || 0) - (a.data.date?.getTime() || 0)
);
---

<BaseLayout>
  <Section>
    <h1 class="font-heading-1">Publications</h1>

    <p class="mb-8 mt-8 text-jet">My academic publications and research work</p>
    <ItemList items={publications} basePath="/publications" />
  </Section>
</BaseLayout>
