---
const { ...rest } = Astro.props;
---

<a
  class="w-fit px-4 py-2 bg-jet text-snow font-emph rounded-full mt-8 mb-8 hover:bg-amaranth ease-in-out transition duration-100"
  {...rest}
>
  <slot />
</a>
