---
import NavbarIcon from "./NavbarIcon.astro";
---

<div class="max-w-6xl px-4 flex justify-between pt-16 pb-16">
  {/* left: Logo that links to homepage */}
  <div class="flex">
    <a href="/">
      <NavbarIcon class="h-16" />
    </a>
  </div>
  {/* right: pages (including homepage for clarity) */}
  <nav class="flex justify-end w-auto">
    <ul class="flex items-center justify-between space-x-8">
      <li>
        <a class="font-emph link-inverse" href="/"> Home </a>
      </li>
      <li>
        <a class="font-emph link-inverse" href="/about/"> About </a>
      </li>
      <li><a class="font-emph link-inverse" href="/cv/">CV</a></li>
      <li>
        <a class="font-emph link-inverse" href="/publications/">Publications</a>
      </li>
      <li><a class="font-emph link-inverse" href="/projects/">Projects</a></li>
      <li><a class="font-emph link-inverse" href="/blog/">Blog</a></li>
      <!-- <li><a class="font-emph link-inverse" href="/music/">Music</a></li> -->
    </ul>
  </nav>
</div>
