---
import "katex/dist/katex.min.css";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <div class="mb-32 p-4 text-center bg-rose-100 sticky top-0">
      <div class="max-w-3xl mx-auto px-4 space-x-8">
        <a href="/">Home</a>
        <!-- <a href="/about/">About</a> -->
        <a href="/blog/">Blog</a>
      </div>
    </div>
    <div class="max-w-3xl mx-auto px-4">
      <slot />
    </div>
  </body>
</html>
