---
import "katex/dist/katex.min.css";
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";

const { titlePrefix } = Astro.props;
const { titleSuffix } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <!-- LaTeX Computer Modern fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Computer+Modern+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Computer+Modern+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Computer+Modern+Typewriter:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>
      {
        (titlePrefix ? titlePrefix + " — " : "") +
          "Mu-Te Lau" +
          (titleSuffix ? " — " + titleSuffix : "")
      }
    </title>
  </head>
  <body class="font-content min-h-screen flex flex-col m-0">
    <header class="bg-snow sticky top-0 z-50">
      <div class="max-w-6xl mx-auto px-4">
        <NavBar />
      </div>
    </header>
    <main class="flex-grow">
      <div>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
